    <!--Page Title-->
<section class="page-title" style="background-image:url('@Url.Content("~/images/background/3.jpg")')">
    <div class="auto-container">
        <h2>About Us</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="/home/index">Home</a></li>
            <li class="active">About</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--About Section-->
<section class="about-section">
    <div class="auto-container">

        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title">Who We Are</div>
            <h2>About Us</h2>
            <div class="separator"></div>
            <div class="text">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectatbeneath was dished out.</div>
        </div>

        <!--About School-->
        <div class="about-school">
            <div class="inner">
                <div class="text"><span>CEO of our school</span> Benjamin Blancgard</div>
            </div>
        </div>

        <div class="row clearfix">
            <!--Counter Column / Left Aligned-->
            <div class="column counter-column left-aligned col-lg-2 col-md-3 col-sm-6 col-xs-12">

                <!--Fact Counter-->
                <div class="fact-counter">

                    <!--Countbox Outer-->
                    <div class="countbox-outer">
                        <div class="inner">
                            <div class="count-box">
                                <span class="count-text" data-speed="1500" data-stop="15">0</span>
                            </div>
                            <h4 class="counter-title">Years on the Market</h4>
                        </div>
                    </div>

                    <!--Countbox Outer-->
                    <div class="countbox-outer">
                        <div class="inner">
                            <div class="count-box">
                                <span class="count-text" data-speed="2000" data-stop="112">0</span>
                            </div>
                            <h4 class="counter-title">Award Won</h4>
                        </div>
                    </div>

                    <!--Countbox Outer-->
                    <div class="countbox-outer">
                        <div class="inner">
                            <div class="count-box">
                                <span class="count-text" data-speed="2500" data-stop="557">0</span>
                            </div>
                            <h4 class="counter-title">Owned Vehicles</h4>
                        </div>
                    </div>

                </div>

            </div>
            <!--Counter Column / Reft Aligned-->
            <div class="column counter-column right-aligned col-lg-2 col-md-3 col-sm-6 col-xs-12">

                <!--Fact Counter-->
                <div class="fact-counter">

                    <!--Countbox Outer-->
                    <div class="countbox-outer">
                        <div class="inner">
                            <div class="count-box">
                                <span class="count-text" data-speed="2000" data-stop="35">0</span>
                            </div>
                            <h4 class="counter-title">Num Of Teachers</h4>
                        </div>
                    </div>

                    <!--Countbox Outer-->
                    <div class="countbox-outer">
                        <div class="inner">
                            <div class="count-box">
                                <span class="count-text" data-speed="2000" data-stop="535">0</span>
                            </div>
                            <h4 class="counter-title">Training Hours</h4>
                        </div>
                    </div>

                    <!--Countbox Outer-->
                    <div class="countbox-outer">
                        <div class="inner">
                            <div class="count-box">
                                <span class="count-text" data-speed="3000" data-stop="9.7">0</span>
                                <span class="plus">k</span>
                            </div>
                            <h4 class="counter-title">Graduates</h4>
                        </div>
                    </div>

                </div>

            </div>
            <!--Image Column-->
            <div class="column col-lg-8 col-md-9 col-sm-12 col-xs-12">
                <div class="image">
                    <a href="https://www.youtube.com/watch?v=0e1uTwSRGgI" class="video-link lightbox-image overlay-box">
                        <img src="~/images/resource/about-image.png" alt="" />
                        <div class="link-outer">
                            <div class="video-popup">Watch Our &ensp; <span class="video-icon fa fa-play"></span> &ensp; Intro Video </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
<!--End About Section-->
<!--Full Width Section-->
<section class="fullwidth-section">
    <div class="section-outer clearfix">
        <!--Image Column-->
        <div class="image-column" style="background-image:url('@Url.Content("~/images/resource/fullwith-1.jpg")');">
            <div class="hidden-image">
                <img src="~/images/resource/fullwith-1.jpg" alt="" />
            </div>
        </div>
        <!--Right Column-->
        <div class="right-column">
            <div class="content">
                <div class="tabs-box courses-tabs">
                    <div class="buttons-outer">
                        <ul class="tab-buttons">
                            <li class="tab-btn active-btn" data-tab="#class-tab-1">Instructor Training</li>
                            <li class="tab-btn" data-tab="#class-tab-2">Highway Safety</li>
                            <li class="tab-btn" data-tab="#class-tab-3">Traffic Rules test</li>
                            <li class="tab-btn" data-tab="#class-tab-4">CONSULTATION</li>
                            <li class="tab-btn" data-tab="#class-tab-5">how to protect car</li>
                            <li class="tab-btn" data-tab="#class-tab-6">PRACTICE SKILLS</li>
                        </ul>
                    </div>
                    <div class="tabs-content">
                        <!--Tab / Active tab-->
                        <div class="tab active-tab" id="class-tab-1">
                            <div class="content-box">
                                <div class="data">
                                    <div class="icon flaticon-traffic-light-1"></div>
                                    <div class="separator"></div>
                                    <div class="price">Course Prize : <span>$200</span></div>
                                    <div class="text">You can choose your team on weekdays after work or on weekendswe take into account the age of individual momentsto everyone we have our own approach.practical training</div>
                                    <a href="#" class="book-now">Book Now &nbsp;<span class="arrow fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="class-tab-2">
                            <div class="content-box">
                                <div class="data">
                                    <div class="icon flaticon-traffic-light-1"></div>
                                    <div class="separator"></div>
                                    <div class="price">Course Prize : <span>$200</span></div>
                                    <div class="text">You can choose your team on weekdays after work or on weekendswe take into account the age of individual momentsto everyone we have our own approach.practical training</div>
                                    <a href="#" class="book-now">Book Now &nbsp;<span class="arrow fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="class-tab-3">
                            <div class="content-box">
                                <div class="data">
                                    <div class="icon flaticon-traffic-light-1"></div>
                                    <div class="separator"></div>
                                    <div class="price">Course Prize : <span>$200</span></div>
                                    <div class="text">You can choose your team on weekdays after work or on weekendswe take into account the age of individual momentsto everyone we have our own approach.practical training</div>
                                    <a href="#" class="book-now">Book Now &nbsp;<span class="arrow fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="class-tab-4">
                            <div class="content-box">
                                <div class="data">
                                    <div class="icon flaticon-traffic-light-1"></div>
                                    <div class="separator"></div>
                                    <div class="price">Course Prize : <span>$200</span></div>
                                    <div class="text">You can choose your team on weekdays after work or on weekendswe take into account the age of individual momentsto everyone we have our own approach.practical training</div>
                                    <a href="#" class="book-now">Book Now &nbsp;<span class="arrow fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="class-tab-5">
                            <div class="content-box">
                                <div class="data">
                                    <div class="icon flaticon-traffic-light-1"></div>
                                    <div class="separator"></div>
                                    <div class="price">Course Prize : <span>$200</span></div>
                                    <div class="text">You can choose your team on weekdays after work or on weekendswe take into account the age of individual momentsto everyone we have our own approach.practical training</div>
                                    <a href="#" class="book-now">Book Now &nbsp;<span class="arrow fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="class-tab-6">
                            <div class="content-box">
                                <div class="data">
                                    <div class="icon flaticon-traffic-light-1"></div>
                                    <div class="separator"></div>
                                    <div class="price">Course Prize : <span>$200</span></div>
                                    <div class="text">You can choose your team on weekdays after work or on weekendswe take into account the age of individual momentsto everyone we have our own approach.practical training</div>
                                    <a href="#" class="book-now">Book Now &nbsp;<span class="arrow fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Full Width Section-->
<!--Featured Section-->
<section class="featured-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title">Our Services</div>
            <h2>Our Features</h2>
            <div class="separator"></div>
            <div class="text">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</div>
        </div>
        <div class="row">
            <div class="image-column col-md-5 col-sm-5 col-xs-12">
                <div class="image">
                    <img src="~/images/resource/featured.png" alt="" />
                </div>
            </div>
            <div class="column col-md-7 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div class="row clearfix">
                        <!--Featured Block-->
                        <div class="featured-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <h3><a href="#"><span class="icon flaticon-gearbox"></span>Learning Roads</a></h3>
                                <div class="text">People who already have strong trust relships with you, who is know you're dediced, sma, a tea playerkshay.who know you're dediced.</div>
                            </div>
                        </div>

                        <!--Featured Block-->
                        <div class="featured-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <h3><a href="#"><span class="icon flaticon-steering-wheel-2"></span>Unlimate Support</a></h3>
                                <div class="text">People who already have strong trust relships with you, who is know you're dediced, sma, a tea playerkshay.who know you're dediced.</div>
                            </div>
                        </div>

                        <!--Featured Block-->
                        <div class="featured-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <h3><a href="#"><span class="icon flaticon-credit-card"></span>Driving  Insures</a></h3>
                                <div class="text">People who already have strong trust relships with you, who is know you're dediced, sma, a tea playerkshay.who know you're dediced.</div>
                            </div>
                        </div>

                        <!--Featured Block-->
                        <div class="featured-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <h3><a href="#"><span class="icon flaticon-credit-card-1"></span> Quick License</a></h3>
                                <div class="text">People who already have strong trust relships with you, who is know you're dediced, sma, a tea playerkshay.who know you're dediced.</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Featured Section-->
<!--Default Section-->
<section class="default-section grey-bg">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Testimonial Column-->
            <div class="testimonial-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <div class="sec-title">
                        <div class="title">Clients Feedback</div>
                        <h2>Testimonials</h2>
                        <div class="separator"></div>
                    </div>
                    <div class="single-item-carousel owl-carousel owl-theme">
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="author-info">
                                    <div class="author-image"><img src="~/images/resource/author-1.jpg" alt="" /></div>
                                    <h3>Benjamin Blanchard</h3>
                                    <div class="designation">( CEO & Founder OF School )</div>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-full"></span></div>
                                </div>
                                <div class="text">people who already have strong trust relshipasdzes with you akshay. this is photoshop’s version akshay lorad aem ipsuasdm. proin gravida nibh vel velit auctor aliquet. awho already have strong trust.people whcao already have ssatrong trust relships with you akshay. this is photoshop’s version akshaetsy lorem ipsum. proin gravida nibh vel velit auctor aliquet. </div>
                                <div class="signature"><img src="~/images/resource/signature.png" alt="" /></div>
                            </div>
                        </div>
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="author-info">
                                    <div class="author-image"><img src="~/images/resource/author-1.jpg" alt="" /></div>
                                    <h3>Benjamin Blanchard</h3>
                                    <div class="designation">( CEO & Founder OF School )</div>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-full"></span></div>
                                </div>
                                <div class="text">people who already have strong trust relshipasdzes with you akshay. this is photoshop’s version akshay lorad aem ipsuasdm. proin gravida nibh vel velit auctor aliquet. awho already have strong trust.people whcao already have ssatrong trust relships with you akshay. this is photoshop’s version akshaetsy lorem ipsum. proin gravida nibh vel velit auctor aliquet. </div>
                                <div class="signature"><img src="~/images/resource/signature.png" alt="" /></div>
                            </div>
                        </div>
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="author-info">
                                    <div class="author-image"><img src="~/images/resource/author-1.jpg" alt="" /></div>
                                    <h3>Benjamin Blanchard</h3>
                                    <div class="designation">( CEO & Founder OF School )</div>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-full"></span></div>
                                </div>
                                <div class="text">people who already have strong trust relshipasdzes with you akshay. this is photoshop’s version akshay lorad aem ipsuasdm. proin gravida nibh vel velit auctor aliquet. awho already have strong trust.people whcao already have ssatrong trust relships with you akshay. this is photoshop’s version akshaetsy lorem ipsum. proin gravida nibh vel velit auctor aliquet. </div>
                                <div class="signature"><img src="~/images/resource/signature.png" alt="" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Accordian Column-->
            <div class="accordian-column col-md-6 col-sm-12 col-xs-12">
                <div class="sec-title">
                    <div class="title">Frequently Asked Questions</div>
                    <h2>Ask Questions</h2>
                    <div class="separator"></div>
                </div>

                <!--Accordion Box-->
                <ul class="accordion-box">

                    <!--Block-->
                    <li class="accordion block active-block">
                        <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-right"></span> </div>There are many many variations of passages of Lorem Ipsum available?</div>
                        <div class="acc-content current">
                            <div class="content"><p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, dum auctor, nisi elit consequat ipsum, massa nisl quis neque.Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis</p></div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-right"></span> </div>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin?</div>
                        <div class="acc-content">
                            <div class="content"><p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, dum auctor, nisi elit consequat ipsum, massa nisl quis neque.Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis</p></div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-right"></span> </div>Lessons From just $20 Lessons for $120 or 10 Hours For $180?</div>
                        <div class="acc-content">
                            <div class="content"><p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, dum auctor, nisi elit consequat ipsum, massa nisl quis neque.Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis</p></div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-right"></span> </div>Aenean sollicitudin, lorem quis bibendum onsequat ipsum, ?</div>
                        <div class="acc-content">
                            <div class="content"><p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, dum auctor, nisi elit consequat ipsum, massa nisl quis neque.Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis</p></div>
                        </div>
                    </li>

                </ul><!--End Accordion Box-->

            </div>

        </div>
    </div>
    <div class="side-image">
        <img src="~/images/resource/arrow-board.png" alt="" />
    </div>
</section>
<!--End Default Section-->
<!--Team Section-->
<section class="team-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title">Our Great Team</div>
            <h2>Our Instructors</h2>
            <div class="separator"></div>
        </div>
        <div class="two-item-carousel owl-carousel owl-theme">

            <!--Team Member-->
            <div class="team-member">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/team-1.png" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-content">
                                <h3><a href="/home/instructordetail">Dean Ambrose</a></h3>
                                <div class="designation">Instructor</div>
                                <div class="separator"></div>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. </div>
                                <ul class="social-links-one">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/team-2.png" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-content">
                                <h3><a href="instructor-detail.html">Seth Rollins</a></h3>
                                <div class="designation">Instructor</div>
                                <div class="separator"></div>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. </div>
                                <ul class="social-links-one">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/team-1.png" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-content">
                                <h3><a href="instructor-detail.html">Dean Ambrose</a></h3>
                                <div class="designation">Instructor</div>
                                <div class="separator"></div>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. </div>
                                <ul class="social-links-one">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/team-2.png" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-content">
                                <h3><a href="instructor-detail.html">Seth Rollins</a></h3>
                                <div class="designation">Instructor</div>
                                <div class="separator"></div>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. </div>
                                <ul class="social-links-one">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Team Section-->
<!--Gallery Section-->
<section class="gallery-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title light centered">
            <div class="title">Our Latest Work</div>
            <h2>Our Portfolio</h2>
            <div class="separator"></div>
        </div>
    </div>

    <!--Gallery Blocks-->
    <div class="four-item-carousel owl-carousel owl-theme">

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/1.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/images/gallery/1.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/2.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/images/gallery/2.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/3.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="images/gallery/3.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/4.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="images/gallery/4.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/1.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/images/gallery/1.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/2.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/images/gallery/2.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/3.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/images/gallery/3.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/4.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/images/gallery/4.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="text-center">
        <a href="gallery-fullwidth.html" class="view-gallery">View Our Gallery &ensp;<span class="fa fa-long-arrow-right"></span></a>
    </div>

</section>
<!--End Gallery Section-->
<!--Price Section-->
<section class="price-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title">Get Special Offer</div>
            <h2>Our Pricing</h2>
            <div class="separator"></div>
        </div>
        <div class="row clearfix">
            <!--Price Column-->
            <div class="price-column col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="price-title">Personal Driving</div>
                    <div class="total-price"><sup>$</sup>199</div>
                    <div class="duration-month">6 Months</div>
                    <ul>
                        <li>Lessons From $20</li>
                        <li>Driving License</li>
                        <li>Medical Service</li>
                        <li>Test Driving Cars</li>
                    </ul>
                    <div class="rating">
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa grey fa-star-o"></span>
                    </div>
                    <a href="#" class="theme-btn btn-style-three">Choose Plan</a>
                </div>
            </div>

            <!--Price Column-->
            <div class="price-column col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="price-title">Freight Driving</div>
                    <div class="total-price"><sup>$</sup>259</div>
                    <div class="duration-month">3 Months</div>
                    <ul>
                        <li>Lessons From $20</li>
                        <li>Driving License</li>
                        <li>Medical Service</li>
                        <li>Test Driving Cars</li>
                    </ul>
                    <div class="rating">
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa grey fa-star-o"></span>
                    </div>
                    <a href="#" class="theme-btn btn-style-three">Choose Plan</a>
                </div>
            </div>

            <!--Price Column-->
            <div class="price-column col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="price-title">Motorcycles</div>
                    <div class="total-price"><sup>$</sup>399</div>
                    <div class="duration-month">5 Months</div>
                    <ul>
                        <li>Lessons From $20</li>
                        <li>Driving License</li>
                        <li>Medical Service</li>
                        <li>Test Driving Cars</li>
                    </ul>
                    <div class="rating">
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa grey fa-star-o"></span>
                    </div>
                    <a href="#" class="theme-btn btn-style-three">Choose Plan</a>
                </div>
            </div>

            <!--Price Column-->
            <div class="price-column col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="price-title">Power Booster</div>
                    <div class="total-price"><sup>$</sup>479</div>
                    <div class="duration-month">8 Months</div>
                    <ul>
                        <li>Lessons From $20</li>
                        <li>Driving License</li>
                        <li>Medical Service</li>
                        <li>Test Driving Cars</li>
                    </ul>
                    <div class="rating">
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa grey fa-star-o"></span>
                    </div>
                    <a href="#" class="theme-btn btn-style-three">Choose Plan</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Price Section-->
<!--News Section-->
<section class="news-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title">Our Latest Blog</div>
            <h2>Latest News</h2>
            <div class="separator"></div>
        </div>
        <div class="row clearfix">

            <!--News Style One-->
            <div class="news-style-one col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="blog-single.html"><img src="~/images/resource/news-1.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="upper-box">
                            <div class="date-box">13 <br> Feb</div>
                            <h3><a href="blog-single.html">10 Reasons People Fail Their Driving Test</a></h3>
                            <ul class="post-meta">
                                <li><a href="blog-single.html"><span class="icon fa fa-user"></span> By admin</a></li>
                                <li><a href="blog-single.html"><span class="icon fa fa-eye"></span> 20</a></li>
                                <li><a href="blog-single.html"><span class="icon fa fa-commenting-o"></span> 04 comments</a></li>
                            </ul>
                            <div class="separator"></div>
                        </div>
                        <div class="lower-box">
                            <div class="text">people who already have strong trust relships with you akshay. this is photoshop’s version akshay lorem ipsum. proin gravida nibh vel velit auctor aliquet. who already have strong trust.<a class="read-more" href="blog-single.html">Read More...</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--News Style One-->
            <div class="news-style-one col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="blog-single.html"><img src="~/images/resource/news-2.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="upper-box">
                            <div class="date-box">18 <br> Feb</div>
                            <h3><a href="blog-single.html">Learn To Drive In An Automatic Car</a></h3>
                            <ul class="post-meta">
                                <li><a href="blog-single.html"><span class="icon fa fa-user"></span> By admin</a></li>
                                <li><a href="blog-single.html"><span class="icon fa fa-eye"></span> 20</a></li>
                                <li><a href="blog-single.html"><span class="icon fa fa-commenting-o"></span> 04 comments</a></li>
                            </ul>
                            <div class="separator"></div>
                        </div>
                        <div class="lower-box">
                            <div class="text">people who already have strong trust relships with you akshay. this is photoshop’s version akshay lorem ipsum. proin gravida nibh vel velit auctor aliquet. who already have strong trust.<a class="read-more" href="blog-single.html">Read More...</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End News Section-->
<!--Main Footer-->