<!--Page Title-->
<section class="page-title" style="background-image:url('@Url.Content("~/images/background/3.jpg")')">
    <div class="auto-container">
        <h2>blog</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="/home/index">Home</a></li>
            <li class="active">blog</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <!--Blog Grid-->
                <section class="blog-grid">
                    <div class="row clearfix">

                        <!--News Style Two-->
                        <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="~/images/resource/news-6.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="date-box">27 <span> Feb</span></div>
                                        <a href="blog-single.html" class="overlay-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <div class="upper-box">
                                        <h3><a href="blog-single.html">Why People Fail Their Driving Test</a></h3>
                                        <ul class="post-meta">
                                            <li><a href="blog-single.html"><span class="icon fa fa-user"></span> By admin</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-eye"></span> 20</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-commenting-o"></span> 04 comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="text">people who already have strong trust relships with you akshay ipsum..</div>
                                    <a class="read-more" href="blog-single.html">Read More...</a>
                                </div>
                            </div>
                        </div>

                        <!--News Style Two-->
                        <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="~/images/resource/news-7.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="date-box">27 <span> Feb</span></div>
                                        <a href="blog-single.html" class="overlay-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <div class="upper-box">
                                        <h3><a href="blog-single.html">Any Time Any Location</a></h3>
                                        <ul class="post-meta">
                                            <li><a href="blog-single.html"><span class="icon fa fa-user"></span> By admin</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-eye"></span> 20</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-commenting-o"></span> 04 comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="text">people who already have strong trust relships with you akshay ipsum..</div>
                                    <a class="read-more" href="blog-single.html">Read More...</a>
                                </div>
                            </div>
                        </div>

                        <!--News Style Two-->
                        <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="~/images/resource/news-8.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="date-box">27 <span> Feb</span></div>
                                        <a href="blog-single.html" class="overlay-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <div class="upper-box">
                                        <h3><a href="blog-single.html">how to write Online Exam</a></h3>
                                        <ul class="post-meta">
                                            <li><a href="blog-single.html"><span class="icon fa fa-user"></span> By admin</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-eye"></span> 18</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-commenting-o"></span> 02 comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="text">people who already have strong trust relships with you akshay ipsum..</div>
                                    <a class="read-more" href="blog-single.html">Read More...</a>
                                </div>
                            </div>
                        </div>

                        <!--News Style Two-->
                        <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="~/images/resource/news-9.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="date-box">27 <span> Feb</span></div>
                                        <a href="blog-single.html" class="overlay-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <div class="upper-box">
                                        <h3><a href="blog-single.html">Make a Better drive With Us</a></h3>
                                        <ul class="post-meta">
                                            <li><a href="blog-single.html"><span class="icon fa fa-user"></span> By admin</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-eye"></span> 22</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-commenting-o"></span> 14 comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="text">people who already have strong trust relships with you akshay ipsum..</div>
                                    <a class="read-more" href="blog-single.html">Read More...</a>
                                </div>
                            </div>
                        </div>

                        <!--News Style Two-->
                        <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="~/images/resource/news-10.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="date-box">27 <span> Feb</span></div>
                                        <a href="blog-single.html" class="overlay-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <div class="upper-box">
                                        <h3><a href="blog-single.html">drive with Our Instructor</a></h3>
                                        <ul class="post-meta">
                                            <li><a href="blog-single.html"><span class="icon fa fa-user"></span> By admin</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-eye"></span> 12</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-commenting-o"></span> 10 comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="text">people who already have strong trust relships with you akshay ipsum..</div>
                                    <a class="read-more" href="blog-single.html">Read More...</a>
                                </div>
                            </div>
                        </div>

                        <!--News Style Two-->
                        <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="~/images/resource/news-11.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="date-box">27 <span> Feb</span></div>
                                        <a href="blog-single.html" class="overlay-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <div class="upper-box">
                                        <h3><a href="blog-single.html">How to get license</a></h3>
                                        <ul class="post-meta">
                                            <li><a href="blog-single.html"><span class="icon fa fa-user"></span> By admin</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-eye"></span> 15</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-commenting-o"></span> 08 comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="text">people who already have strong trust relships with you akshay ipsum..</div>
                                    <a class="read-more" href="blog-single.html">Read More...</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Styled Pagination -->
                    <div class="styled-pagination">
                        <ul class="clearfix">
                            <li><a class="prev" href="#"><span class="fa fa-angle-left"></span></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#" class="active">2</a></li>
                            <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div>

                </section>
            </div>

            <!--Sidebar-->
            <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <aside class="sidebar">

                    <!-- Search Form -->
                    <div class="sidebar-widget search-box">
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search..." required>
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>

                    <!-- Categories -->
                    <div class="sidebar-widget categories">
                        <div class="sidebar-title"><h3>Category</h3></div>
                        <ul class="list">
                            <li><a href="#" class="clearfix">Test Driving <span class="count pull-right">(11)</span></a></li>
                            <li><a href="#" class="clearfix">Online Tests <span class="count pull-right">(12)</span></a></li>
                            <li><a href="#" class="clearfix">Instructors <span class="count pull-right">(21)</span></a></li>
                            <li><a href="#" class="clearfix">Traffic  Rules <span class="count pull-right">(8)</span></a></li>
                            <li><a href="#" class="clearfix">Courses <span class="count pull-right">(6)</span></a></li>
                        </ul>
                    </div>

                    <!-- Popular Posts -->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title"><h3>recent post</h3></div>
                        <article class="post">
                            <figure class="post-thumb img-circle"><a href="#"><img src="~/images/resource/post-thumb-1.jpg" alt=""></a></figure>
                            <div class="text"><a href="#">car driving with the instructor  ...</a></div>
                            <div class="post-info">Jan 25, 2017</div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb img-circle"><a href="#"><img src="~/images/resource/post-thumb-2.jpg" alt=""></a></figure>
                            <div class="text"><a href="#">How to writew Online Exams  ...</a></div>
                            <div class="post-info">Feb 15, 2017</div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb img-circle"><a href="#"><img src="~/images/resource/post-thumb-3.jpg" alt=""></a></figure>
                            <div class="text"><a href="#">make a better drive  with us ...</a></div>
                            <div class="post-info">Feb 28, 2017</div>
                        </article>
                    </div>

                    <!-- Email Form -->
                    <div class="sidebar-widget email-box">
                        <div class="sidebar-title"><h3>News Letter</h3></div>
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input type="email" name="email-field" value="" placeholder="Email..." required>
                                <button type="submit"><span class="icon flaticon-send-message-button"></span></button>
                            </div>
                        </form>
                    </div>

                </aside>
            </div>

        </div>
    </div>
</div>
<!--End Sidebar Page-->
<!--Main Footer-->