<!--Page Title-->
<section class="page-title" style="background-image:url('@Url.Content("~/images/background/3.jpg")')">
    <div class="auto-container">
        <h2>blog details</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="index.html">Home</a></li>
            <li class="active">blog details</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <!--Blog Single-->
                <section class="blog-single">

                    <!--News Style One-->
                    <div class="news-style-one">
                        <div class="inner-box">
                            <div class="image">
                                <img src="~/images/resource/news-12.jpg" alt="" />
                            </div>
                            <div class="lower-content">
                                <div class="upper-box">
                                    <div class="date-box">13 <br> Feb</div>
                                    <h3>10 Reasons People Fail Their Driving Test</h3>
                                    <ul class="post-meta">
                                        <li><a href="blog-single.html"><span class="icon fa fa-user"></span> By admin</a></li>
                                        <li><a href="blog-single.html"><span class="icon fa fa-eye"></span> 20</a></li>
                                        <li><a href="blog-single.html"><span class="icon fa fa-commenting-o"></span> 04 comments</a></li>
                                    </ul>
                                    <div class="separator"></div>
                                </div>
                                <div class="lower-box">
                                    <div class="text">
                                        <p>people who already have strong trust relships with you akshay. this is photoshop’s version akshay islorem ipsum. proin gravida nibh vel velit auctor aliquet.Lorem ipsum dolor sit amet, cotetur adipiscing elit. Sed ultrices ipsum non mattis pharetra. Integer laoreet non felis sit amet pharetra. Integer mollis eget felis non finibus. Nullam nibh mauris, fermentum vitae felis vehicula, aliquam bibendum sapien. In euismod velit vitae neque rhoncus congue. </p>
                                        <p>Aliquam luctus, sapien in consectetur cursus, quam urna euismod magna, sed pellentesque massa libero eu lorem. Aenean rhoncus gravida nisl vel pretium. Nam ac nisl non ipsum vestibulum vehicula vulputate sagittis magna. oncus sodales tempor. </p>
                                        <blockquote>
                                            This is a tough one, since I’m an open book and my family and friends know everything about me. But one thing my customers may not know is that I’m actually the only guy behind MVP Themes...
                                            <span class="author">David warner</span>
                                        </blockquote>
                                    </div>
                                    <!--post-share-options-->
                                    <div class="post-share-options clearfix">
                                        <div class="pull-left tags"><a href="#">Instrucutors</a> <a href="#">Vehicles</a> <a href="#">Course</a></div>
                                        <div class="pull-right social-links-five clearfix">
                                            <div class="share">Share  :</div>
                                            <a href="#" class="facebook"><span class="fa fa-facebook-f"></span></a>
                                            <a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
                                            <a href="#" class="twitter"><span class="fa fa-instagram"></span></a>
                                            <a href="#" class="linkedin"><span class="fa fa-google-plus"></span></a>
                                            <a href="#" class="linkedin"><span class="fa fa-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--Comments Area-->
                    <div class="comments-area">
                        <h2 class="total-comments">rECENT Comments [ 02 ]</h2>
                        <div class="comment-box">

                            <div class="comment">
                                <div class="comment-inner">
                                    <div class="author-thumb"><img src="~/images/resource/author-3.jpg" alt=""></div>

                                    <!--comment-content-->
                                    <div class="comment-content">
                                        <div class="comment-header clearfix">
                                            <h4>James warner</h4>
                                            <div class="comment-info">Mar 03, 2017</div>
                                        </div>
                                        <div class="text">Fish don't fry in the kitchen and beans don't burn on the grill. Took a whole lotta burn on the grill. Took a whole lotta tryin' just. Took a whole lotta burn on the grill. Took a whole lotta tryin' just.</div>
                                        <a class="reply" href="#"><span class="fa fa-mail-forward"></span> Reply</a>
                                    </div>

                                </div>
                            </div>

                            <div class="comment">
                                <div class="comment-inner">
                                    <div class="author-thumb"><img src="~/images/resource/author-4.jpg" alt=""></div>
                                    <!--comment-content-->
                                    <div class="comment-content">
                                        <div class="comment-header clearfix">
                                            <h4>Robert Lee</h4>
                                            <div class="comment-info">Mar 05, 2017</div>
                                        </div>
                                        <div class="text">Fish don't fry in the kitchen and beans don't burn on the grill. Took a whole ljust Fish don't fry in the kitche whole lotta tryin' just. Took a whole lotta burn on the grill. Took a whole lotta tryin' just.</div>
                                        <a class="reply" href="#"><span class="fa fa-mail-forward"></span> Reply</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--End Comments Area-->
                    <!-- Comment Form -->
                    <div class="comment-form">

                        <div class="group-title"><h2>Leave a reply</h2></div>

                        <!--Comment Form-->
                        <form method="post" action="contact.html">
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    <input type="text" name="username" placeholder="Full Name" required>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    <input type="email" name="email" placeholder="Email" required>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                    <textarea name="message" placeholder="Message"></textarea>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form">Send Your Message</button>
                                </div>

                            </div>
                        </form>

                    </div>
                    <!--End Comment Form -->

                </section>
            </div>

            <!--Sidebar-->
            <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <aside class="sidebar">

                    <!-- Search Form -->
                    <div class="sidebar-widget search-box">
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search..." required>
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>

                    <!-- Categories -->
                    <div class="sidebar-widget categories">
                        <div class="sidebar-title"><h3>Category</h3></div>
                        <ul class="list">
                            <li><a href="#" class="clearfix">Test Driving <span class="count pull-right">(11)</span></a></li>
                            <li><a href="#" class="clearfix">Online Tests <span class="count pull-right">(12)</span></a></li>
                            <li><a href="#" class="clearfix">Instructors <span class="count pull-right">(21)</span></a></li>
                            <li><a href="#" class="clearfix">Traffic  Rules <span class="count pull-right">(8)</span></a></li>
                            <li><a href="#" class="clearfix">Courses <span class="count pull-right">(6)</span></a></li>
                        </ul>
                    </div>

                    <!-- Popular Posts -->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title"><h3>recent post</h3></div>
                        <article class="post">
                            <figure class="post-thumb img-circle"><a href="#"><img src="~/images/resource/post-thumb-1.jpg" alt=""></a></figure>
                            <div class="text"><a href="#">car driving with the instructor  ...</a></div>
                            <div class="post-info">Jan 25, 2017</div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb img-circle"><a href="#"><img src="~/images/resource/post-thumb-2.jpg" alt=""></a></figure>
                            <div class="text"><a href="#">How to writew Online Exams  ...</a></div>
                            <div class="post-info">Feb 15, 2017</div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb img-circle"><a href="#"><img src="~/images/resource/post-thumb-3.jpg" alt=""></a></figure>
                            <div class="text"><a href="#">make a better drive  with us ...</a></div>
                            <div class="post-info">Feb 28, 2017</div>
                        </article>
                    </div>

                    <!-- Email Form -->
                    <div class="sidebar-widget email-box">
                        <div class="sidebar-title"><h3>News Letter</h3></div>
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input type="email" name="email-field" value="" placeholder="Email..." required>
                                <button type="submit"><span class="icon flaticon-send-message-button"></span></button>
                            </div>
                        </form>
                    </div>

                    <!-- Popular Tags -->
                    <div class="sidebar-widget popular-tags">
                        <div class="sidebar-title"><h3>TAGS</h3></div>
                        <a href="#">Online Exams</a>
                        <a href="#">Vehicles</a>
                        <a href="#">Driving</a>
                        <a href="#">License</a>
                        <a href="#">Course</a>
                        <a href="#">Instrucutors</a>
                    </div>

                </aside>
            </div>

        </div>
    </div>
</div>
<!--End Sidebar Page-->
<!--Main Footer-->