<!--Page Title-->
<section class="page-title" style="background-image:url('@Url.Content("~/images/background/3.jpg")')">
    <div class="auto-container">
        <h2>404</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="/home/index">Home</a></li>
            <li class="active">404</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Error Section-->
<section class="error-section">
    <div class="auto-container">
        <div class="error-title"><span><img src="~/images/resource/error.png" alt="" /></span></div>
        <h2>Oops! Page Not Found</h2>
        <div class="text">Page you were looking for could not be found.</div>
        <a class="theme-btn btn-style-one" href="index.html"><span class="arrow flaticon-home-1"></span> &nbsp; BACK TO HOME</a>
    </div>
</section>
<!--End Error Section-->
<!--Main Footer-->