<!--Page Title-->
<section class="page-title" style="background-image:url('@Url.Content("~/images/background/3.jpg")')">
    <div class="auto-container">
        <h2>Our Features</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="index.html">Home</a></li>
            <li class="active">Our Features</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Featured Section-->
<section class="featured-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title">Our Services</div>
            <h2>Our Features</h2>
            <div class="separator"></div>
            <div class="text">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</div>
        </div>
        <div class="row clearfix">

            <!--Services Block Three-->
            <div class="services-block-three col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <div class="image">
                            <img src="~/images/resource/services-1.jpg" alt="" />
                        </div>
                    </div>
                    <h3><a href="#">Driving Insurance</a></h3>
                    <div class="text">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.Proin gravida nibh vel velit auctor aliquet. </div>
                </div>
            </div>

            <!--Services Block Three-->
            <div class="services-block-three col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <div class="image">
                            <img src="~/images/resource/services-2.jpg" alt="" />
                        </div>
                    </div>
                    <h3><a href="#">Online Exams</a></h3>
                    <div class="text">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.Proin gravida nibh vel velit auctor aliquet. </div>
                </div>
            </div>

            <!--Services Block Three-->
            <div class="services-block-three col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <div class="image">
                            <img src="~/images/resource/services-3.jpg" alt="" />
                        </div>
                    </div>
                    <h3><a href="#">Heavey Practice</a></h3>
                    <div class="text">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.Proin gravida nibh vel velit auctor aliquet. </div>
                </div>
            </div>

            <!--Services Block Three-->
            <div class="services-block-three col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <div class="image">
                            <img src="~/images/resource/services-4.jpg" alt="" />
                        </div>
                    </div>
                    <h3><a href="#">Traffic Rules</a></h3>
                    <div class="text">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.Proin gravida nibh vel velit auctor aliquet. </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Featured Section-->
<!--Full Width Section-->
<section class="fullwidth-section">
    <div class="section-outer clearfix">
        <!--Image Column-->
        <div class="image-column" style="background-image:url('@Url.Content("~/images/resource/fullwith-1.jpg")');">
            <div class="hidden-image">
                <img src="~/images/resource/fullwith-1.jpg" alt="" />
            </div>
        </div>
        <!--Right Column-->
        <div class="right-column">
            <div class="content">
                <div class="tabs-box courses-tabs">
                    <div class="buttons-outer">
                        <ul class="tab-buttons">
                            <li class="tab-btn active-btn" data-tab="#class-tab-1">Instructor Training</li>
                            <li class="tab-btn" data-tab="#class-tab-2">Highway Safety</li>
                            <li class="tab-btn" data-tab="#class-tab-3">Traffic Rules test</li>
                            <li class="tab-btn" data-tab="#class-tab-4">CONSULTATION</li>
                            <li class="tab-btn" data-tab="#class-tab-5">how to protect car</li>
                            <li class="tab-btn" data-tab="#class-tab-6">PRACTICE SKILLS</li>
                        </ul>
                    </div>
                    <div class="tabs-content">
                        <!--Tab / Active tab-->
                        <div class="tab active-tab" id="class-tab-1">
                            <div class="content-box">
                                <div class="data">
                                    <div class="icon flaticon-traffic-light-1"></div>
                                    <div class="separator"></div>
                                    <div class="price">Course Prize : <span>$200</span></div>
                                    <div class="text">You can choose your team on weekdays after work or on weekendswe take into account the age of individual momentsto everyone we have our own approach.practical training</div>
                                    <a href="#" class="book-now">Book Now &nbsp;<span class="arrow fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="class-tab-2">
                            <div class="content-box">
                                <div class="data">
                                    <div class="icon flaticon-traffic-light-1"></div>
                                    <div class="separator"></div>
                                    <div class="price">Course Prize : <span>$200</span></div>
                                    <div class="text">You can choose your team on weekdays after work or on weekendswe take into account the age of individual momentsto everyone we have our own approach.practical training</div>
                                    <a href="#" class="book-now">Book Now &nbsp;<span class="arrow fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="class-tab-3">
                            <div class="content-box">
                                <div class="data">
                                    <div class="icon flaticon-traffic-light-1"></div>
                                    <div class="separator"></div>
                                    <div class="price">Course Prize : <span>$200</span></div>
                                    <div class="text">You can choose your team on weekdays after work or on weekendswe take into account the age of individual momentsto everyone we have our own approach.practical training</div>
                                    <a href="#" class="book-now">Book Now &nbsp;<span class="arrow fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="class-tab-4">
                            <div class="content-box">
                                <div class="data">
                                    <div class="icon flaticon-traffic-light-1"></div>
                                    <div class="separator"></div>
                                    <div class="price">Course Prize : <span>$200</span></div>
                                    <div class="text">You can choose your team on weekdays after work or on weekendswe take into account the age of individual momentsto everyone we have our own approach.practical training</div>
                                    <a href="#" class="book-now">Book Now &nbsp;<span class="arrow fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="class-tab-5">
                            <div class="content-box">
                                <div class="data">
                                    <div class="icon flaticon-traffic-light-1"></div>
                                    <div class="separator"></div>
                                    <div class="price">Course Prize : <span>$200</span></div>
                                    <div class="text">You can choose your team on weekdays after work or on weekendswe take into account the age of individual momentsto everyone we have our own approach.practical training</div>
                                    <a href="#" class="book-now">Book Now &nbsp;<span class="arrow fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="class-tab-6">
                            <div class="content-box">
                                <div class="data">
                                    <div class="icon flaticon-traffic-light-1"></div>
                                    <div class="separator"></div>
                                    <div class="price">Course Prize : <span>$200</span></div>
                                    <div class="text">You can choose your team on weekdays after work or on weekendswe take into account the age of individual momentsto everyone we have our own approach.practical training</div>
                                    <a href="#" class="book-now">Book Now &nbsp;<span class="arrow fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Full Width Section-->
<!--Default Section-->
<section class="default-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Testimonial Column-->
            <div class="testimonial-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <div class="sec-title">
                        <div class="title">Clients Feedback</div>
                        <h2>Testimonials</h2>
                        <div class="separator"></div>
                    </div>
                    <div class="single-item-carousel owl-carousel owl-theme">
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="author-info">
                                    <div class="author-image"><img src="~/images/resource/author-1.jpg" alt="" /></div>
                                    <h3>Benjamin Blanchard</h3>
                                    <div class="designation">( CEO & Founder OF School )</div>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-full"></span></div>
                                </div>
                                <div class="text">people who already have strong trust relshipasdzes with you akshay. this is photoshop’s version akshay lorad aem ipsuasdm. proin gravida nibh vel velit auctor aliquet. awho already have strong trust.people whcao already have ssatrong trust relships with you akshay. this is photoshop’s version akshaetsy lorem ipsum. proin gravida nibh vel velit auctor aliquet. </div>
                                <div class="signature"><img src="~/images/resource/signature.png" alt="" /></div>
                            </div>
                        </div>
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="author-info">
                                    <div class="author-image"><img src="~/images/resource/author-1.jpg" alt="" /></div>
                                    <h3>Benjamin Blanchard</h3>
                                    <div class="designation">( CEO & Founder OF School )</div>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-full"></span></div>
                                </div>
                                <div class="text">people who already have strong trust relshipasdzes with you akshay. this is photoshop’s version akshay lorad aem ipsuasdm. proin gravida nibh vel velit auctor aliquet. awho already have strong trust.people whcao already have ssatrong trust relships with you akshay. this is photoshop’s version akshaetsy lorem ipsum. proin gravida nibh vel velit auctor aliquet. </div>
                                <div class="signature"><img src="~/images/resource/signature.png" alt="" /></div>
                            </div>
                        </div>
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="author-info">
                                    <div class="author-image"><img src="~/images/resource/author-1.jpg" alt="" /></div>
                                    <h3>Benjamin Blanchard</h3>
                                    <div class="designation">( CEO & Founder OF School )</div>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-full"></span></div>
                                </div>
                                <div class="text">people who already have strong trust relshipasdzes with you akshay. this is photoshop’s version akshay lorad aem ipsuasdm. proin gravida nibh vel velit auctor aliquet. awho already have strong trust.people whcao already have ssatrong trust relships with you akshay. this is photoshop’s version akshaetsy lorem ipsum. proin gravida nibh vel velit auctor aliquet. </div>
                                <div class="signature"><img src="~/images/resource/signature.png" alt="" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Accordian Column-->
            <div class="accordian-column col-md-6 col-sm-12 col-xs-12">
                <div class="sec-title">
                    <div class="title">Frequently Asked Questions</div>
                    <h2>Ask Questions</h2>
                    <div class="separator"></div>
                </div>

                <!--Accordion Box-->
                <ul class="accordion-box">

                    <!--Block-->
                    <li class="accordion block active-block">
                        <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-right"></span> </div>There are many many variations of passages of Lorem Ipsum available?</div>
                        <div class="acc-content current">
                            <div class="content"><p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, dum auctor, nisi elit consequat ipsum, massa nisl quis neque.Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis</p></div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-right"></span> </div>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin?</div>
                        <div class="acc-content">
                            <div class="content"><p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, dum auctor, nisi elit consequat ipsum, massa nisl quis neque.Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis</p></div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-right"></span> </div>Lessons From just $20 Lessons for $120 or 10 Hours For $180?</div>
                        <div class="acc-content">
                            <div class="content"><p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, dum auctor, nisi elit consequat ipsum, massa nisl quis neque.Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis</p></div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-right"></span> </div>Aenean sollicitudin, lorem quis bibendum onsequat ipsum, ?</div>
                        <div class="acc-content">
                            <div class="content"><p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, dum auctor, nisi elit consequat ipsum, massa nisl quis neque.Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis</p></div>
                        </div>
                    </li>

                </ul><!--End Accordion Box-->

            </div>

        </div>
    </div>
</section>
<!--End Default Section-->
<!--Main Footer-->