<!--Page Title-->
<section class="page-title" style="background-image:url('@Url.Content("~/images/background/3.jpg")')">
    <div class="auto-container">
        <h2>Gallery</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="index.html">Home</a></li>
            <li class="active">Gallery</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Gallery Section / Gallery Page-->
<section class="gallery-section gallery-page gallery-three-column">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Gallery Block-->
            <div class="gallery-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="~/images/gallery/9.jpg" alt="">
                        <div class="overlay-box">
                            <div class="content">
                                <a class="lightbox-image" href="images/gallery/9.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block-->
            <div class="gallery-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="~/images/gallery/10.jpg" alt="">
                        <div class="overlay-box">
                            <div class="content">
                                <a class="lightbox-image" href="images/gallery/10.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block-->
            <div class="gallery-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="~/images/gallery/11.jpg" alt="">
                        <div class="overlay-box">
                            <div class="content">
                                <a class="lightbox-image" href="images/gallery/11.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block-->
            <div class="gallery-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="~/images/gallery/12.jpg" alt="">
                        <div class="overlay-box">
                            <div class="content">
                                <a class="lightbox-image" href="images/gallery/12.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block-->
            <div class="gallery-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="~/images/gallery/13.jpg" alt="">
                        <div class="overlay-box">
                            <div class="content">
                                <a class="lightbox-image" href="images/gallery/13.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block-->
            <div class="gallery-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="~/images/gallery/14.jpg" alt="">
                        <div class="overlay-box">
                            <div class="content">
                                <a class="lightbox-image" href="images/gallery/14.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <!-- Styled Pagination -->
        <div class="styled-pagination text-center">
            <ul class="clearfix">
                <li><a class="prev" href="#"><span class="fa fa-angle-left"></span></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#" class="active">2</a></li>
                <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
            </ul>
        </div>

    </div>
</section>
<!--End Gallery Section-->
