<!--Page Title-->
<section class="page-title" style="background-image:url('@Url.Content("~/images/background/3.jpg")')">
    <div class="auto-container">
        <h2>Gallery</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="index.html">Home</a></li>
            <li class="active">Gallery</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Gallery Section / Gallery Page-->
<section class="gallery-section fullwidth-gallery gallery-page">

    <!--Gallery Blocks-->
    <div class="gallery-blocks clearfix">

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/1.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/"images/gallery/1.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/2.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/"images/gallery/2.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/3.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/"images/gallery/3.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/4.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/"images/gallery/4.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/5.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/"images/gallery/5.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="~/images/gallery/6.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/"images/gallery/6.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="images/gallery/7.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/"images/gallery/7.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="images/gallery/8.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="~/"images/gallery/8.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Styled Pagination -->
    <div class="styled-pagination text-center">
        <ul class="clearfix">
            <li><a class="prev" href="#"><span class="fa fa-angle-left"></span></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" class="active">2</a></li>
            <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
        </ul>
    </div>

</section>
<!--End Gallery Section-->
<!--Main Footer-->