   <!--Why Us Section-->
<section class="why-us-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Column-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <!--Sec Title-->
                    <div class="sec-title">
                        <div class="title">Who We Are</div>
                        <h2>Why Choose Us</h2>
                        <div class="separator"></div>
                        <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per idunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. </div>
                        <div class="row clearfix">
                            <ul class="list-style-two col-md-6 col-sm-6 col-xs-12">
                                <li>Safety Driving</li>
                                <li>Following Rules & Regulations</li>
                                <li>Standard vehicles</li>
                            </ul>
                            <ul class="list-style-two col-md-6 col-sm-6 col-xs-12">
                                <li>Traffic Rules </li>
                                <li>Special classes</li>
                                <li>Experience Instructors</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                <div class="image wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img src="images/resource/why-us.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!--Services Section-->
    <section class="services-section no-margin">
        <div class="auto-container">
            <div class="clearfix">
                <!--Services Block-->
                <div class="services-block column col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                        <a href="#" class="overlay-link"></a>
                        <h3><span class="icon flaticon-steering-wheel-1"></span> Comfort Vehicles</h3>
                    </div>
                </div>
                <!--Services Block-->
                <div class="services-block column col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                        <a href="#" class="overlay-link"></a>
                        <h3><span class="icon flaticon-credit-card-1"></span> Licensed Training</h3>
                    </div>
                </div>
                <!--Services Block-->
                <div class="services-block column col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                        <a href="#" class="overlay-link"></a>
                        <h3><span class="icon flaticon-gearbox"></span> Driving Practice</h3>
                    </div>
                </div>
                <!--Services Block-->
                <div class="services-block column col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                        <a href="#" class="overlay-link"></a>
                        <h3><span class="icon flaticon-vehicle-speedometer"></span> Flexible Schedule</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Services Section-->
</section>
<!--End Why Us Section-->
<!--FullWisth Section Three-->
<section class="fullwidth-section-three">
    <div class="outer-box clearfix">
        <!--Image Column-->
        <div class="image-column" style="background-image:url(images/resource/fullwith-3.jpg);">
            <div class="image-box">
                <img src="images/resource/fullwith-3.jpg" alt="" />
            </div>
        </div>
        <!--Services Column-->
        <div class="services-column">
            <div class="inner">
                <div class="testimonial-carousel owl-carousel owl-theme">

                    <!--Testimonial Slide-->
                    <div class="testimonial-slide">
                        <!--Testimonial Block Two-->
                        <div class="testimonial-block-two">
                            <div class="testimonial-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-people-1"></span>
                                </div>
                                <h3><a href="#">Instructor Training</a></h3>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odiomsan ipsum velit.</div>
                            </div>
                        </div>
                        <!--Testimonial Block Two-->
                        <div class="testimonial-block-two">
                            <div class="testimonial-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-gearbox"></span>
                                </div>
                                <h3><a href="#">Highway Safety</a></h3>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odiomsan ipsum velit.</div>
                            </div>
                        </div>
                        <!--Testimonial Block Two-->
                        <div class="testimonial-block-two">
                            <div class="testimonial-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-traffic-light-1"></span>
                                </div>
                                <h3><a href="#">Traffic Rules </a></h3>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odiomsan ipsum velit.</div>
                            </div>
                        </div>
                    </div>

                    <!--Testimonial Slide-->
                    <div class="testimonial-slide">
                        <!--Testimonial Block Two-->
                        <div class="testimonial-block-two">
                            <div class="testimonial-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-traffic-light-1"></span>
                                </div>
                                <h3><a href="#">Traffic Rules </a></h3>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odiomsan ipsum velit.</div>
                            </div>
                        </div>
                        <!--Testimonial Block Two-->
                        <div class="testimonial-block-two">
                            <div class="testimonial-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-people-1"></span>
                                </div>
                                <h3><a href="#">Instructor Training</a></h3>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odiomsan ipsum velit.</div>
                            </div>
                        </div>
                        <!--Testimonial Block Two-->
                        <div class="testimonial-block-two">
                            <div class="testimonial-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-gearbox"></span>
                                </div>
                                <h3><a href="#">Highway Safety</a></h3>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odiomsan ipsum velit.</div>
                            </div>
                        </div>
                    </div>

                    <!--Testimonial Slide-->
                    <div class="testimonial-slide">
                        <!--Testimonial Block Two-->
                        <div class="testimonial-block-two">
                            <div class="testimonial-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-gearbox"></span>
                                </div>
                                <h3><a href="#">Highway Safety</a></h3>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odiomsan ipsum velit.</div>
                            </div>
                        </div>
                        <!--Testimonial Block Two-->
                        <div class="testimonial-block-two">
                            <div class="testimonial-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-people-1"></span>
                                </div>
                                <h3><a href="#">Instructor Training</a></h3>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odiomsan ipsum velit.</div>
                            </div>
                        </div>
                        <!--Testimonial Block Two-->
                        <div class="testimonial-block-two">
                            <div class="testimonial-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-traffic-light-1"></span>
                                </div>
                                <h3><a href="#">Traffic Rules </a></h3>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odiomsan ipsum velit.</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--Form Column-->
        <div class="form-column">
            <div class="form-inner">
                <h3>Application Form</h3>

                <!--Default Form-->
                <div class="default-form">
                    <form method="post">
                        <div class="row clearfix">

                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="group-inner">
                                    <label class="icon-label" for="field-one"><span class="fa fa-user"></span></label>
                                    <input id="field-one" type="text" name="username" value="" placeholder="Your Name" required>
                                </div>
                            </div>
                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="group-inner">
                                    <label class="icon-label" for="field-two"><span class="fa fa-envelope-o"></span></label>
                                    <input id="field-two" type="email" name="email" value="" placeholder="Email" required>
                                </div>
                            </div>
                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="group-inner">
                                    <label class="icon-label" for="field-three"><span class="fa fa-phone"></span></label>
                                    <input id="field-three" type="text" name="phone" placeholder="Phone">
                                </div>
                            </div>
                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="group-inner">
                                    <label class="icon-label" for="field-four"><span class="fa fa-calendar"></span></label>
                                    <input id="field-four" type="text" name="date-time" class="datetimepicker" value="" placeholder="Date and Time" required>
                                </div>
                            </div>
                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="group-inner">
                                    <label class="icon-label" for="field-five"><span class="fa fa-file-text-o"></span></label>
                                    <select id="field-five" class="custom-select-box">
                                        <option>Course Type</option>
                                        <option>Type 1</option>
                                        <option>Type 2</option>
                                        <option>Type 3</option>
                                    </select>
                                </div>
                            </div>
                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="group-inner">
                                    <label class="icon-label" for="field-six"><span class="fa fa-car"></span></label>
                                    <select id="field-six" class="custom-select-box">
                                        <option>Car Type</option>
                                        <option>Honda</option>
                                        <option>City</option>
                                        <option>Rebon</option>
                                    </select>
                                </div>
                            </div>
                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="theme-btn btn-style-one">SEND INQUIRY</button>
                            </div>

                        </div>
                    </form>
                </div>
                <!--End Inquiry Form-->

            </div>
        </div>
    </div>
</section>
<!--End FullWisth Section Three-->
<!--Featured Section Two-->
<section class="featured-section-two">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title">Main Services</div>
            <h2>Our Features</h2>
            <div class="separator"></div>
            <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odioMorbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio..</div>
        </div>
        <div class="row clearfix">

            <!--Featured Block Two-->
            <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box"><span class="icon flaticon-gearbox"></span></div>
                    <h3><a href="#">Learning Roads</a></h3>
                    <div class="text">People who already have strong trust the relships with you, who is know you're dediced, sma, a tea.</div>
                    <a class="read-more" href="#">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

            <!--Featured Block Two-->
            <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box"><span class="icon flaticon-steering-wheel-1"></span></div>
                    <h3><a href="#">Ultimate Support</a></h3>
                    <div class="text">People who already have strong trust the relships with you, who is know you're dediced, sma, a tea.</div>
                    <a class="read-more" href="#">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

            <!--Featured Block Two-->
            <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box"><span class="icon flaticon-driving-license"></span></div>
                    <h3><a href="#">Driving Insurance</a></h3>
                    <div class="text">People who already have strong trust the relships with you, who is know you're dediced, sma, a tea.</div>
                    <a class="read-more" href="#">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

            <!--Featured Block Two-->
            <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box"><span class="icon flaticon-credit-card-1"></span></div>
                    <h3><a href="#">Quick License</a></h3>
                    <div class="text">People who already have strong trust the relships with you, who is know you're dediced, sma, a tea.</div>
                    <a class="read-more" href="#">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

            <!--Featured Block Two-->
            <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box"><span class="icon flaticon-traffic-cone"></span></div>
                    <h3><a href="#">Heavey Parctice</a></h3>
                    <div class="text">People who already have strong trust the relships with you, who is know you're dediced, sma, a tea.</div>
                    <a class="read-more" href="#">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

            <!--Featured Block Two-->
            <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box"><span class="icon flaticon-mortarboard-1"></span></div>
                    <h3><a href="#">Online Exams</a></h3>
                    <div class="text">People who already have strong trust the relships with you, who is know you're dediced, sma, a tea.</div>
                    <a class="read-more" href="#">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Featured Section-->
<!--Gallery Section-->
<section class="gallery-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title light centered">
            <div class="title">Our Latest Work</div>
            <h2>Our Portfolio</h2>
            <div class="separator"></div>
        </div>
    </div>

    <!--Gallery Blocks-->
    <div class="four-item-carousel owl-carousel owl-theme">

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="images/gallery/1.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="images/gallery/1.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="images/gallery/2.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="images/gallery/2.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="images/gallery/3.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="images/gallery/3.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gallery Block-->
        <div class="gallery-block">
            <div class="inner-box">
                <div class="image-box">
                    <img src="images/gallery/4.jpg" alt="">
                    <div class="overlay-box">
                        <div class="content">
                            <a class="lightbox-image" href="images/gallery/4.jpg" title="Image Title Here"><span class="icon flaticon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="text-center">
        <a href="gallery-fullwidth.html" class="view-gallery">View Our Gallery &ensp;<span class="fa fa-long-arrow-right"></span></a>
    </div>

</section>
<!--End Gallery Section-->
<!--Instructor Section Two-->
<section class="fullwidth-section-two">
    <div class="outer-box clearfix">
        <!--Left Column-->
        <div class="left-column">
            <div class="content">
                <!--Sec Title-->
                <div class="sec-title">
                    <div class="title">Our Great Team</div>
                    <h2>Our Instructors</h2>
                    <div class="separator"></div>
                </div>
                <div class="single-item-carousel owl-carousel owl-theme">

                    <div class="slide-item">
                        <!--Sec Title Small-->
                        <div class="sec-title-small">
                            <h2><a href="instructor-detail.html">David Warner</a></h2>
                            <div class="title">Instructor</div>
                            <div class="separator"></div>
                        </div>
                        <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti soconubia nostra.</div>
                        <ul class="social-links-four">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        </ul>
                        <!--Skills Box-->
                        <div class="skills-box">
                            <h3>Skills</h3>

                            <!--Progress Levels-->
                            <div class="skill-progress">

                                <!--Skill Box-->
                                <div class="skill clearfix">
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-inner"><div class="filled-bar" style="width:80%;"></div></div>
                                        </div>
                                    </div>
                                    <div class="box-title">Teaching</div>
                                </div>

                                <!--Skill Box-->
                                <div class="skill clearfix">
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-inner"><div class="filled-bar" style="width:70%;"></div></div>
                                        </div>
                                    </div>
                                    <div class="box-title">Instructing</div>
                                </div>

                                <!--Skill Box-->
                                <div class="skill clearfix">
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-inner"><div class="filled-bar" style="width:90%;"></div></div>
                                        </div>
                                    </div>
                                    <div class="box-title">Driving</div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="slide-item">
                        <!--Sec Title Small-->
                        <div class="sec-title-small">
                            <h2><a href="instructor-detail.html">David Warner</a></h2>
                            <div class="title">Instructor</div>
                            <div class="separator"></div>
                        </div>
                        <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti soconubia nostra.</div>
                        <ul class="social-links-four">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        </ul>
                        <!--Skills Box-->
                        <div class="skills-box">
                            <h3>Skills</h3>

                            <!--Progress Levels-->
                            <div class="skill-progress">

                                <!--Skill Box-->
                                <div class="skill clearfix">
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-inner"><div class="filled-bar" style="width:80%;"></div></div>
                                        </div>
                                    </div>
                                    <div class="box-title">Teaching</div>
                                </div>

                                <!--Skill Box-->
                                <div class="skill clearfix">
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-inner"><div class="filled-bar" style="width:70%;"></div></div>
                                        </div>
                                    </div>
                                    <div class="box-title">Instructing</div>
                                </div>

                                <!--Skill Box-->
                                <div class="skill clearfix">
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-inner"><div class="filled-bar" style="width:90%;"></div></div>
                                        </div>
                                    </div>
                                    <div class="box-title">Driving</div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="slide-item">
                        <!--Sec Title Small-->
                        <div class="sec-title-small">
                            <h2><a href="instructor-detail.html">David Warner</a></h2>
                            <div class="title">Instructor</div>
                            <div class="separator"></div>
                        </div>
                        <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti soconubia nostra.</div>
                        <ul class="social-links-four">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        </ul>
                        <!--Skills Box-->
                        <div class="skills-box">
                            <h3>Skills</h3>

                            <!--Progress Levels-->
                            <div class="skill-progress">

                                <!--Skill Box-->
                                <div class="skill clearfix">
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-inner"><div class="filled-bar" style="width:80%;"></div></div>
                                        </div>
                                    </div>
                                    <div class="box-title">Teaching</div>
                                </div>

                                <!--Skill Box-->
                                <div class="skill clearfix">
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-inner"><div class="filled-bar" style="width:70%;"></div></div>
                                        </div>
                                    </div>
                                    <div class="box-title">Instructing</div>
                                </div>

                                <!--Skill Box-->
                                <div class="skill clearfix">
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-inner"><div class="filled-bar" style="width:90%;"></div></div>
                                        </div>
                                    </div>
                                    <div class="box-title">Driving</div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--Image Column-->
        <div class="image-column" style="background-image:url(images/resource/fullwith-2.jpg);">
            <div class="hidden-image">
                <img src="images/resource/fullwith-2.jpg" alt="" />
            </div>
        </div>

    </div>
</section>
<!--End Instructor Section Two-->
<!--Fun Facts Section -->
<section class="fun-facts-section" style="background-image:url(images/background/1.jpg);">
    <div class="auto-container">

        <div class="row clearfix">
            <!--Column-->
            <div class="column count-box col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="icon-box"><span class="flaticon-mortarboard-1"></span></div>
                    <div class="content">
                        <div class="count-outer">
                            <span class="count-text" data-speed="3000" data-stop="9.5">0</span>
                            <span class="plus">K</span>
                        </div>
                        <div class="counter-title">Graduates</div>
                    </div>
                </div>
            </div>

            <!--Column-->
            <div class="column count-box col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="icon-box"><span class="flaticon-people-1"></span></div>
                    <div class="content">
                        <div class="count-outer">
                            <span class="count-text" data-speed="2000" data-stop="35">0</span>
                        </div>
                        <div class="counter-title">Teachers</div>
                    </div>
                </div>
            </div>

            <!--Column-->
            <div class="column count-box col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="icon-box"><span class="flaticon-transport-1"></span></div>
                    <div class="content">
                        <div class="count-outer">
                            <span class="count-text" data-speed="4000" data-stop="557">0</span>
                        </div>
                        <div class="counter-title">Own Vehicles</div>
                    </div>
                </div>
            </div>

            <!--Column-->
            <div class="column count-box col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="icon-box"><span class="flaticon-dashboard"></span></div>
                    <div class="content">
                        <div class="count-outer">
                            <span class="count-text" data-speed="3000" data-stop="15">0</span>
                        </div>
                        <div class="counter-title">Years Of Market</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--Fun Facts Section -->
<!--Price Section-->
<section class="price-section alternate">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title">Get Special Offer</div>
            <h2>Our Pricing</h2>
            <div class="separator"></div>
        </div>
        <div class="row clearfix">
            <!--Price Column-->
            <div class="price-column col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="price-title">Personal Driving</div>
                    <div class="total-price"><sup>$</sup>199</div>
                    <div class="duration-month">6 Months</div>
                    <ul>
                        <li>Lessons From $20</li>
                        <li>Driving License</li>
                        <li>Medical Service</li>
                        <li>Test Driving Cars</li>
                    </ul>
                    <div class="rating">
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa grey fa-star-o"></span>
                    </div>
                    <a href="#" class="theme-btn btn-style-three">Choose Plan</a>
                </div>
            </div>

            <!--Price Column-->
            <div class="price-column col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="price-title">Freight Driving</div>
                    <div class="total-price"><sup>$</sup>259</div>
                    <div class="duration-month">3 Months</div>
                    <ul>
                        <li>Lessons From $20</li>
                        <li>Driving License</li>
                        <li>Medical Service</li>
                        <li>Test Driving Cars</li>
                    </ul>
                    <div class="rating">
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa grey fa-star-o"></span>
                    </div>
                    <a href="#" class="theme-btn btn-style-three">Choose Plan</a>
                </div>
            </div>

            <!--Price Column-->
            <div class="price-column col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="price-title">Motorcycles</div>
                    <div class="total-price"><sup>$</sup>399</div>
                    <div class="duration-month">5 Months</div>
                    <ul>
                        <li>Lessons From $20</li>
                        <li>Driving License</li>
                        <li>Medical Service</li>
                        <li>Test Driving Cars</li>
                    </ul>
                    <div class="rating">
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa grey fa-star-o"></span>
                    </div>
                    <a href="#" class="theme-btn btn-style-three">Choose Plan</a>
                </div>
            </div>

            <!--Price Column-->
            <div class="price-column col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="price-title">Power Booster</div>
                    <div class="total-price"><sup>$</sup>479</div>
                    <div class="duration-month">8 Months</div>
                    <ul>
                        <li>Lessons From $20</li>
                        <li>Driving License</li>
                        <li>Medical Service</li>
                        <li>Test Driving Cars</li>
                    </ul>
                    <div class="rating">
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa grey fa-star-o"></span>
                    </div>
                    <a href="#" class="theme-btn btn-style-three">Choose Plan</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Price Section-->
<!--Default Section-->
<section class="default-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!--News Column-->
            <div class="news-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <!--Sec Title-->
                    <div class="sec-title">
                        <div class="title">Our Latest Blog</div>
                        <h2>Latest News</h2>
                        <div class="separator"></div>
                    </div>
                    <div class="row clearfix">

                        <!--News Style Two-->
                        <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/resource/news-3.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="date-box">27 <span> Feb</span></div>
                                        <a href="blog-single.html" class="overlay-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <div class="upper-box">
                                        <h3><a href="blog-single.html">Why People Fail Their Driving Test</a></h3>
                                        <ul class="post-meta">
                                            <li><a href="blog-single.html"><span class="icon fa fa-user"></span> By admin</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-eye"></span> 20</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-commenting-o"></span> 04 comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="text">people who already have strong trust relships with you akshay ipsum..</div>
                                    <a class="read-more" href="blog-single.html">Read More...</a>
                                </div>
                            </div>
                        </div>

                        <!--News Style Two-->
                        <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/resource/news-4.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="date-box">27 <span> Feb</span></div>
                                        <a href="blog-single.html" class="overlay-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <div class="upper-box">
                                        <h3><a href="blog-single.html">Any Time Any Location</a></h3>
                                        <ul class="post-meta">
                                            <li><a href="blog-single.html"><span class="icon fa fa-user"></span> By admin</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-eye"></span> 20</a></li>
                                            <li><a href="blog-single.html"><span class="icon fa fa-commenting-o"></span> 04 comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="text">people who already have strong trust relships with you akshay ipsum..</div>
                                    <a class="read-more" href="blog-single.html">Read More...</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Testimonial Column-->
            <div class="testimonial-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <!--Sec Title-->
                    <div class="sec-title">
                        <div class="title">Clients Feedback</div>
                        <h2>Testimonials</h2>
                        <div class="separator"></div>
                    </div>
                    <div class="single-item-carousel owl-carousel owl-theme">
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="author-info">
                                    <div class="author-image"><img src="images/resource/author-1.jpg" alt="" /></div>
                                    <h3>Benjamin Blanchard</h3>
                                    <div class="designation">( CEO & Founder OF School )</div>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-full"></span></div>
                                </div>
                                <div class="text">people who already have strong trust relshipasdzes with you akshay. this is photoshop’s version akshay lorad aem ipsuasdm. proin gravida nibh vel velit auctor aliquet. awho already have strong trust.people whcao already have ssatrong trust relships with you akshay. this is photoshop’s version akshaetsy lorem ipsum. proin gravida nibh vel velit auctor aliquet. this is photoshop’s version akshaetsy lorem ipsum. </div>
                                <div class="signature"><img src="images/resource/signature.png" alt="" /></div>
                            </div>
                        </div>
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="author-info">
                                    <div class="author-image"><img src="images/resource/author-1.jpg" alt="" /></div>
                                    <h3>Benjamin Blanchard</h3>
                                    <div class="designation">( CEO & Founder OF School )</div>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-full"></span></div>
                                </div>
                                <div class="text">people who already have strong trust relshipasdzes with you akshay. this is photoshop’s version akshay lorad aem ipsuasdm. proin gravida nibh vel velit auctor aliquet. awho already have strong trust.people whcao already have ssatrong trust relships with you akshay. this is photoshop’s version akshaetsy lorem ipsum. proin gravida nibh vel velit auctor aliquet. this is photoshop’s version akshaetsy lorem ipsum. </div>
                                <div class="signature"><img src="images/resource/signature.png" alt="" /></div>
                            </div>
                        </div>
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="author-info">
                                    <div class="author-image"><img src="images/resource/author-1.jpg" alt="" /></div>
                                    <h3>Benjamin Blanchard</h3>
                                    <div class="designation">( CEO & Founder OF School )</div>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-full"></span></div>
                                </div>
                                <div class="text">people who already have strong trust relshipasdzes with you akshay. this is photoshop’s version akshay lorad aem ipsuasdm. proin gravida nibh vel velit auctor aliquet. awho already have strong trust.people whcao already have ssatrong trust relships with you akshay. this is photoshop’s version akshaetsy lorem ipsum. proin gravida nibh vel velit auctor aliquet. this is photoshop’s version akshaetsy lorem ipsum. </div>
                                <div class="signature"><img src="images/resource/signature.png" alt="" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Default Section-->