<!--Page Title-->
<section class="page-title" style="background-image:url('@Url.Content("~/images/background/3.jpg")')">
    <div class="auto-container">
        <h2>Instructors Details</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="index.html">Home</a></li>
            <li class="active">Our Instructors</li>
            <li class="active">Instructor Details</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Instructor Section-->
<section class="instructor-section">
    <div class="auto-container">

        <!--Team Detail-->
        <div class="team-detail">
            <div class="row clearfix">

                <!--Image Column-->
                <div class="image-column pull-right col-md-6 col-sm-6 col-xs-12">
                    <div class="image">
                        <img src="~/images/resource/team-6.png" alt="" />
                    </div>
                </div>

                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <!--Sec Title Small-->
                        <div class="sec-title-small">
                            <h2>Dean Abbrose</h2>
                            <div class="title">Instructor</div>
                            <div class="separator"></div>
                        </div>
                        <!--Social Links Four-->
                        <ul class="social-links-four">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        </ul>
                        <!--Skills Box-->
                        <div class="skills-box">
                            <h3>Skills</h3>

                            <!--Progress Levels-->
                            <div class="progress-levels">

                                <!--Skill Box-->
                                <div class="progress-box wow">
                                    <div class="box-title">Teaching</div>
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-innner"><div class="bar-fill" data-percent="80"></div></div>
                                        </div>
                                    </div>
                                </div>

                                <!--Skill Box-->
                                <div class="progress-box wow">
                                    <div class="box-title">Instructing</div>
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-innner"><div class="bar-fill" data-percent="70"></div></div>
                                        </div>
                                    </div>
                                </div>

                                <!--Skill Box-->
                                <div class="progress-box wow">
                                    <div class="box-title">Driving</div>
                                    <div class="inner">
                                        <div class="bar">
                                            <div class="bar-innner"><div class="bar-fill" data-percent="90"></div></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="text">
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti soconubia nostra.Integer dignissim dolor quis lorem semper, sit amet convallis ipsum dignissim. Sed diam quam, aliquam a fringilla at, lobortis sed velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla iaculis enim id mauris pharetra laoreet. Aliquam a ipsum fringilla purus euismod bibendum et et ipsum. Suspendisse eget sagittis sem. Nam vitae purus ante. Nam aliquam luctus diam.</p>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam vel erat vitae lectus dictum lacinia. Sed nec dolor at lacus sagittis ultrices a et lorem. Aliquam fermentum consequat dolor, nec lacinia lectus fermentum ut. In et justo id justo tristique placerat. Nulla facilisi. Maecenas commodo erat in nisi vehicula lobortis in vitae urna. Sed rhoncus mi quis nulla aliquam, vel eleifend purus molestieNullam vel erat vitae lectus dictum lacinia. Sed nec dolor at lacus sagittis ultrices a et lorem. Aliquam fermentum consequat dolor, nec lacinia lectus fermentum ut. In et justo id justo tristique placerat. Nulla facilisi. Maecenas commodo erat in nisi vehicula lobortis in vitae urna. Sed rhoncus mi quis nulla aliquam, vel eleifend purus molestie</p>
            </div>
        </div>

    </div>
</section>
<!--End Instructor Section-->
<!--Main Footer-->