   <!--Page Title-->
<section class="page-title" style="background-image:url('@Url.Content("~/images/background/3.jpg")')">
    <div class="auto-container">
        <h2>Our Instructors</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="/home/index">Home</a></li>
            <li class="active">Our Instructors</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Instructor Section-->
<section class="instructor-section instructor-team">
    <div class="auto-container">

        <div class="row clearfix">

            <!--Team Member-->
            <div class="team-member col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/team-1.png" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-content">
                                <h3><a href="/home/instructordetail">Dean Ambrose</a></h3>
                                <div class="designation">Instructor</div>
                                <div class="separator"></div>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. </div>
                                <ul class="social-links-one">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/team-2.png" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-content">
                                <h3><a href="/home/instructordetail">Seth Rollins</a></h3>
                                <div class="designation">Instructor</div>
                                <div class="separator"></div>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. </div>
                                <ul class="social-links-one">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/team-3.png" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-content">
                                <h3><a href="/home/instructordetail">David Warner</a></h3>
                                <div class="designation">Senior Instructor</div>
                                <div class="separator"></div>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. </div>
                                <ul class="social-links-one">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/team-4.png" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-content">
                                <h3><a href="/home/instructordetail">Johnson Ben</a></h3>
                                <div class="designation">Teacher</div>
                                <div class="separator"></div>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. </div>
                                <ul class="social-links-one">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <img src="~/images/resource/team-5.png" alt="" />
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-content">
                                <h3><a href="/home/instructordetail">Michell Beckam</a></h3>
                                <div class="designation">Teacher</div>
                                <div class="separator"></div>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. </div>
                                <ul class="social-links-one">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Instructor Section-->
<!--Main Footer-->