<!--Page Title-->
<section class="page-title" style="background-image:url('@Url.Content("~/images/background/3.jpg")')">
    <div class="auto-container">
        <h2>Pricing</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="/home/index">Home</a></li>
            <li class="active">Pricing</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Price Section-->
<section class="price-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title">Get Special Offer</div>
            <h2>Our Pricing</h2>
            <div class="separator"></div>
        </div>
        <div class="row clearfix">
            <!--Price Column-->
            <div class="price-column col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="price-title">Personal Driving</div>
                    <div class="total-price"><sup>$</sup>199</div>
                    <div class="duration-month">6 Months</div>
                    <ul>
                        <li>Lessons From $20</li>
                        <li>Driving License</li>
                        <li>Medical Service</li>
                        <li>Test Driving Cars</li>
                    </ul>
                    <div class="rating">
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa grey fa-star-o"></span>
                    </div>
                    <a href="#" class="theme-btn btn-style-three">Choose Plan</a>
                </div>
            </div>

            <!--Price Column-->
            <div class="price-column col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="price-title">Freight Driving</div>
                    <div class="total-price"><sup>$</sup>259</div>
                    <div class="duration-month">3 Months</div>
                    <ul>
                        <li>Lessons From $20</li>
                        <li>Driving License</li>
                        <li>Medical Service</li>
                        <li>Test Driving Cars</li>
                    </ul>
                    <div class="rating">
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa grey fa-star-o"></span>
                    </div>
                    <a href="#" class="theme-btn btn-style-three">Choose Plan</a>
                </div>
            </div>

            <!--Price Column-->
            <div class="price-column col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="price-title">Motorcycles</div>
                    <div class="total-price"><sup>$</sup>399</div>
                    <div class="duration-month">5 Months</div>
                    <ul>
                        <li>Lessons From $20</li>
                        <li>Driving License</li>
                        <li>Medical Service</li>
                        <li>Test Driving Cars</li>
                    </ul>
                    <div class="rating">
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa grey fa-star-o"></span>
                    </div>
                    <a href="#" class="theme-btn btn-style-three">Choose Plan</a>
                </div>
            </div>

            <!--Price Column-->
            <div class="price-column col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="price-title">Power Booster</div>
                    <div class="total-price"><sup>$</sup>479</div>
                    <div class="duration-month">8 Months</div>
                    <ul>
                        <li>Lessons From $20</li>
                        <li>Driving License</li>
                        <li>Medical Service</li>
                        <li>Test Driving Cars</li>
                    </ul>
                    <div class="rating">
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa grey fa-star-o"></span>
                    </div>
                    <a href="#" class="theme-btn btn-style-three">Choose Plan</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Price Section-->
<!--Course Section-->
<section class="course-section grey-bg">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <div class="content-column col-md-8 col-sm-9 col-xs-12">
                <div class="inner-box">
                    <figure class="image">
                        <img src="~/images/resource/cource-image.png" alt="" />
                    </figure>
                    <!--Content-->
                    <div class="content">
                        <div class="sec-title">
                            <div class="title">Our Trainging Courses</div>
                            <h2>Cousre We Provide</h2>
                            <div class="separator"></div>
                            <div class="text">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</div>
                        </div>
                        <!--Course Item-->
                        <div class="course-item">
                            <div class="inner">
                                <div class="icon-box"><span class="icon flaticon-people-1"></span></div>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odiomsan ipsum velit. </div>
                            </div>
                        </div>

                        <!--Course Item-->
                        <div class="course-item">
                            <div class="inner">
                                <div class="icon-box"><span class="icon flaticon-gearbox-1"></span></div>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odiomsan ipsum velit. </div>
                            </div>
                        </div>

                        <!--Course Item-->
                        <div class="course-item">
                            <div class="inner">
                                <div class="icon-box"><span class="icon flaticon-traffic-light-1"></span></div>
                                <div class="text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odiomsan ipsum velit. </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--Column-->
            <div class="timing-column col-md-4 col-sm-3 col-xs-12">
                <div class="column-inner">
                    <div class="title">
                        <h3>School Opening Hours</h3>
                    </div>
                    <ul>
                        <li class="clearfix">Monday :<span>9:30 Am - 3.30 Pm</span></li>
                        <li class="clearfix">Tuesday :<span>10:30 Am - 5.30 Pm</span></li>
                        <li class="clearfix">Wednesday :<span>8:30 Am - 1.30 Pm</span></li>
                        <li class="clearfix">Thursday :<span>11:30 Am - 2.30 Pm</span></li>
                        <li class="clearfix">Friday :<span>10:00 Am - 2.00 Pm</span></li>
                        <li class="clearfix">Weekend :<span>7:30 Am - 5.30 Pm</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Course Section-->
<!--Main Footer