<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>LearnerBay - Driving School </title>


    <environment include="Development">
        <!-- Stylesheets -->
        <link href="~/css/bootstrap.css" rel="stylesheet">
        <link href="~/css/revolution-slider.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
        <link href="~/css/jquery-ui.css" rel="stylesheet">

        <!--Favicon-->
        <link rel="shortcut icon" href="~/images/leanersbay-logo.png" type="image/x-icon">
        <link rel="icon" href="~/images/leanersbay-logo.png" type="image/x-icon">
        <!-- Responsive -->

        <link href="~/css/responsive.css" rel="stylesheet">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/css/site.css" rel="stylesheet" />



    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>
        <!-- Main Header-->
        <header class="main-header">

            <!-- Header Top -->
            <div class="header-top">
                <div class="auto-container clearfix">
                    <!--Top Left-->
                    <div class="top-left pull-left">

                        <!--Social Icon-->
                        <div class="social-icon">
                            <a href="#"><span class="fa fa-facebook"></span></a>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                            <a href="#"><span class="fa fa-pinterest"></span></a>
                            <a href="#"><span class="fa fa-google-plus"></span></a>
                        </div>

                        <div class="contact-number"><span>CALL US NOW</span> <a href="#">: 1800 123 4567</a></div>
                    </div>

                    <!--Top Right-->
                    <div class="top-right pull-right">
                        <ul class="links-nav clearfix">
                      
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Header Top End -->
            <!--Header-Upper-->
            <div class="header-upper">
                <div class="auto-container">
                    <div class="clearfix">

                        <div class="pull-left logo-outer">
                            <div class="logo"><a href="/home/index"><img src="~/images/leanersbay-logo.png" alt="" title=""></a></div>
                        </div>

                        <div class="nav-outer clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="">
                                            <a href="/home/index"><span class="glyphicon glyphicon-home"></span> Home</a>
                                       
                                        </li>
                                        <li class="">
                                            <a href="/home/About"><i class="glyphicon glyphicon-info-sign"></i> About Us</a>
                                         
                                        </li>
                                        <li class="">
                                            <a href="/home/instructor"><i class="glyphicon glyphicon-user"></i> INSTRUCTORS</a>
                                        
                                        </li>
                                        <li class="">
                                            <a href="/home/features"><i class="glyphicon glyphicon-th-large"></i> FEASTURES</a>
                                         
                                        </li>       <li class="">
                                                        <a href="/home/price"><i class="glyphicon glyphicon-usd"></i> PRICE</a>
                                        
                                        </li>
                                        <li class="">
                                            <a href="/home/GalleryFullWidth"><i class="glyphicon glyphicon-picture"></i> Gallery</a>
                                         
                                        </li>

                                        <li class="">
                                            <a href="/home/blogGrid"><i class="glyphicon glyphicon-comment"></i> Blog</a>
                                        
                                        </li>
                                        <li><a href="/home/contact"><i class="glyphicon glyphicon-phone"></i> Contact Us</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
            <!--End Header Upper-->
            <div class="clearfix"></div>
            <!--Sticky Header-->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="/home/index" class="img-responsive"><img src="~/images/leanersbay-logo.png" alt="" title=""></a>
                    </div>

                    <!--Right Col-->
                    <div class="right-col pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="">
                                        <a href="/home/index"><span class="glyphicon glyphicon-home"></span> Home</a>

                                    </li>
                                    <li class="">
                                        <a href="/home/About"><i class="glyphicon glyphicon-info-sign"></i> About Us</a>

                                    </li>
                                    <li class="dropdown">
                                        <a href="/home/instructor"><i class="glyphicon glyphicon-user"></i> INSTRUCTORS</a>

                                    </li>
                                    <li class="">
                                        <a href="/home/features"><i class="glyphicon glyphicon-th-large"></i>FEATURES</a>

                                    </li>

                                    <li class="">
                                        <a href="/home/price"><i class="glyphicon glyphicon-usd"></i> PRICE</a>

                                    </li>
                                    <li class="">
                                        <a href="/home/GalleryFullWidth"><i class="glyphicon glyphicon-picture"></i> Gallery</a>

                                    </li>
                                    <li class="">
                                        <a href="/home/BlogGrid"><i class="glyphicon glyphicon-comment"></i> Blog</a>

                                    </li>

                                    <li><a href="/home/contact"><i class="glyphicon glyphicon-phone"></i> Contact Us</a></li>
                               
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                    </div>

                </div>
            </div>
            <!--End Sticky Header-->

        </header>
        <!--End Main Header -->




        @RenderBody()
        <hr />
        <!--Main Footer-->
        <footer class="main-footer">
            <div class="footer-upper">
                <!--Footer Upper Outer-->
                <div class="footer-upper-outer clearfix">

                    <!--Form Column-->
                    <div class="form-column">
                        <div class="content">
                            <h2>Our Newsletter</h2>
                            <div class="newsletter-form">
                                <form method="post" action="">
                                    <div class="form-group">
                                        <input type="email" name="email" value="" placeholder="Your Email Address" required>
                                        <button type="submit"><span class="icon flaticon-send-message-button"></span></button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                    <!--Image Column-->
                    <div class="map-column">

                        <!--Map Outer-->
                        <div class="map-outer">
                            <!--Map Canvas-->
                            <div class="map-canvas"
                                 data-zoom="12"
                                 data-lat="-37.817085"
                                 data-lng="144.955631"
                                 data-type="roadmap"
                                 data-hue="#ffc400"
                                 data-title="Envato"
                                 data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!--Big Column-->
                        <div class="big-column col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                    <!--About Widget-->
                                    <div class="footer-widget about-widget">
                                        <h2>About Us</h2>
                                        <div class="widget-content">
                                            <div class="bold-text">Our School Specialists!</div>
                                            <div class="text">Aorem ipsum dolor sit amet elit sed lum tempor incididunt ut labore el dolore alg minim veniam quis nostrud lorem psum dolor sit amet sed incididunt.</div>
                                            <a href="#" class="read-more">Read More...</a>
                                        </div>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                    <!--Links Widget-->
                                    <div class="footer-widget links-widget">
                                        <h2>Quick Links</h2>
                                        <div class="widget-content">
                                            <ul class="list">
                                                <li><a href="#">About Us</a></li>
                                                <li><a href="#">Our Features</a></li>
                                                <li><a href="#">Instructors</a></li>
                                                <li><a href="#">Latest News</a></li>
                                                <li><a href="#">Our Portfolio</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Big Column-->
                        <div class="big-column col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                    <!--Info Widget-->
                                    <div class="footer-widget info-widget">
                                        <h2>Keep in Touch</h2>
                                        <div class="widget-content">
                                            <ul class="list-style-one">
                                                <li><span class="icon flaticon-location-pin"></span>Collins Street West,121 <br> King Street, Melbourne.</li>
                                                <li><span class="icon flaticon-technology-3"></span>+(11)123 456 7890, </li>
                                                <li><span class="icon flaticon-interface"></span>info@drivingschool.com</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                    <!--Gallery Widget-->
                                    <div class="footer-widget gallery-widget">
                                        <h2>Our Gallery</h2>
                                        <div class="widget-content">
                                            <div class="images-outer clearfix">
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/gallery/1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/gallery/footer-thumb-1.jpg" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/gallery/2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/gallery/footer-thumb-2.jpg" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/gallery/3.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/gallery/footer-thumb-3.jpg" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/gallery/4.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/gallery/footer-thumb-4.jpg" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/gallery/1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/gallery/footer-thumb-5.jpg" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/gallery/2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/gallery/footer-thumb-6.jpg" alt=""></a></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="copyright">&copy; Copyright 2018 LearnerBay | All Rights Reserved</div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <ul class="social-links-two">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Main Footer-->
    </div>
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>
    <environment include="Development">

        <script src="~/js/jquery.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/revolution.min.js"></script>
        <script src="~/js/jquery.fancybox.pack.js"></script>
        <script src="~/js/jquery.fancybox-media.js"></script>
        <script src="~/js/owl.js"></script>
        <script src="~/js/appear.js"></script>
        <script src="~/js/wow.js"></script>
        <script src="~/js/jquery-ui.js"></script>
        <script src="~/js/jquery.datetimepicker.js"></script>
        <script src="~/js/validate.js"></script>

        <script src="~/js/script.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
        <!--[if lt IE 9]><script src="~/js/respond.js"></script><![endif]-->



        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
